@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 22px;
  font-weight: 700;
}
h2 {
  font-size: 20px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}
a {
  color: rgb(167, 0, 167);
  text-decoration: underline;
}
a:hover {
  color: rgb(189, 25, 189);
}

li {
  list-style: inside;
}